<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mostrar Contratos</title>
</head>
<body>

 <H1> Contratos disponibles:</H1>

    <table border="1">
    	<tr>
    		<th>Id</th><th>Nombre</th>
    	</tr>
    	<th:block th:each="c : ${contratos} ">
    		<tr>
    			<td th:text="${c.idContrato}"></td>
    			<td><a th:href="@{/DetallesContrato.do?id=} + ${c.idContrato}" th:text=${c.nombre}></a></td>
    		</tr>
    	</th:block>
    </table>
    
    <hr></hr>

	<form th:action="@{/AltaContrato.do}" th:object="${altaContratoForm}" method="post">
    	<h2>Modificar Contratos</h2>
    	<table>
    		<tr>
    			<td>Id:</td>
    			<td><input type="text" th:field="*{id}"/></td>
    			<td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Id Error</td>
   			<tr>
    			<td>Nombre:</td>
    			<td><input type="text" th:field="*{nombre}"/></td>
    			<td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre Error</td>
   			</tr>
			<tr>    	   		
    	        <td><button type="submit">Enviar</button></td>
			</tr>    	
    	</table>
    </form>    

</body>
</html>